.grid {
    width: 600px;
    height: 600px;
    margin: 15vh auto;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 0;
}

.el {
    width: 100%;
    height: 100%;
}

.el--black {
    background-color: black;
}

.el--yellow {
    background-color: yellow;
}

.el--white {
    background-color: white;
}

.el--1 {
    grid-row: 1;
    grid-column: 6/11;
}

.el--2 {
    grid-row: 2;
    grid-column: 4/6;
}

.el--3 {
    grid-row: 2;
    grid-column: 6/11;
}

.el--4 {
    grid-row: 2;
    grid-column: 11/13;
}

.el--5 {
    grid-row: 3;
    grid-column: 3/4;
}

.el--6 {
    grid-row: 3;
    grid-column: 4/13;
}

.el--7 {
    grid-row: 3;
    grid-column: 13/14;
}

.el--8 {
    grid-row: 4/7;
    grid-column: 2/3;
}

.el--9 {
    grid-area: 4/3/6/14;
}

.el--10 {
    grid-area: 4/14/7/14;
}

.el--11 {
    grid-area: 6/1/11/2;
}

.el--12 {
    grid-area: 6/15/11/16;
}

.el--13 {
    grid-area: 7/2/11/3;
}

.el--14 {
    grid-area: 7/14/11/15;
}

.el--15 {
    grid-area: 6/3/10/14;
}

.el--16 {
    grid-area: 9/3/13/4;
}

.el--17 {
    grid-area: 9/13/13/14;
}

.el--18 {
    grid-area: 10/4/14/7;
}

.el--19 {
    grid-area: 10/10/14/13;
}

.el--20 {
    grid-area: 9/7/13/10;
}

.el--21 {
    grid-area: 8/8/9/9;
}

.el--22 {
    grid-area: 11/2/13/3;
}

.el--23 {
    grid-area: 11/14/13/15;
}

.el--24 {
    grid-area: 13/3;
}

.el--25 {
    grid-area: 13/13;
}

.el--26 {
    grid-area: 13/span 3;
}

.el--27 {
    grid-area: 12/6;
}

.el--28 {
    grid-area: 12/10;
}

.el--29 {
    grid-area: 14/4/15/6;
}

.el--30 {
    grid-area: 14/11/15/13;
}

.el--31 {
    grid-area: 15/6/16/11;
}

.el--32 {
    grid-area: 14/6/15/11;
}

.el--33 {
    grid-area: 7/5/8/7;
}

.el--34 {
    grid-area: 8/6/8/7;
}

.el--35 {
    grid-area: 7/11/8/13;
}

.el--36 {
    grid-area: 8/12;
}